configuration {
  modi: "drun,window,Font:~/.config/rofi/change-font.sh";
  font: "JetBrains Mono Nerd Font 12";
  show-icons: true;
  combi-modi: "window,drun,run";
  drun-diplay-format: "{icon} {name}";
  display-drun: "Apps";
  display-window: "Window";
  sidebar-mode: true;
}

/* @theme "catppuccin-mocha" */
/* @theme "catppuccin-frappe" */
@theme "catppuccin-macchiato"
/* @theme "catppuccin-latte" */
